################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CATchingFish/.vs/CATchingFish/FileContentIndex/605d018e-2b29-4e42-b742-ed22a5f2a6ae.vsidx
/CATchingFish/.vs/CATchingFish/FileContentIndex/60bf88b7-8a37-4599-92a4-3bf2fc33b69c.vsidx
/CATchingFish/.vs/CATchingFish/FileContentIndex/e47f3b90-ae81-489f-9967-3c08af9a784c.vsidx
/CATchingFish/.vs/CATchingFish/FileContentIndex/826d3620-c639-4687-b3e5-196615e81763.vsidx
/CATchingFish/.vs/CATchingFish/FileContentIndex/4e385b44-6c35-41fe-a869-d7679d135af6.vsidx
/CATchingFish/.vs/CATchingFish/FileContentIndex/be3bbff9-f2e0-4781-ac6d-61d32e2b0e61.vsidx
/CATchingFish/.vs/CATchingFish/FileContentIndex/c9662998-8372-49b5-b1a8-8139baa48f2d.vsidx
/CATchingFish/.vs/CATchingFish/FileContentIndex/32201dc2-bacd-4df6-b3b5-0f32155b5e08.vsidx
/CATchingFish/.vs/CATchingFish/FileContentIndex/bfc06fce-c9e1-4d0e-93cb-9b88fc0fb8d2.vsidx
/CATchingFish/.vs/CATchingFish/FileContentIndex/f2bba07c-48a1-4905-bb30-6d3b11aaab3c.vsidx
/CATchingFish/.vs/CATchingFish/FileContentIndex/e703ae7e-69c3-4164-b2af-59ef80c207f9.vsidx
/CATchingFish/.vs/CATchingFish/FileContentIndex/ce8fe82c-bd66-43aa-a5c7-14c0774ab267.vsidx
/CATchingFish/.vs/CATchingFish/FileContentIndex/f11b87ba-1ca7-48e7-b59c-0766ce7ec771.vsidx
/CATchingFish/.vs/CATchingFish/FileContentIndex/acd5fe73-c7d5-4cff-9960-9513faaa28b5.vsidx
